/* 改变主题色变量 */
$--color-primary: #fea53d;
// $--color-text-primary: #303133;
$--color-text-regular: #535353;
$--background-color-base: #f4f4f4;

$--border-color-base: #d3d3d3;

$--table-font-color: #303133;
// $--table-font-color: #535353;
$--table-header-font-color: #535353;

$--color-danger: #ff5722;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
